html {
  font-family: 'Roboto Mono', monospace;
}
h1{
  text-align: center;
}

@media (max-width: 650px) {
  #question {
    font-size: 15px;
  }
  #submit {
    font-size: 12.5px !important;
  }
  #grid {
    space-between: 2rem !important;
  }
}


#nav-bar {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}


/* Style the links inside the navigation bar */
#nav-bar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/* Change the color of links on hover */
#nav-bar a:hover {
  background-color: #4CAF50;
  color: white;
}

/* Add an active class to highlight the current page */
#nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}

#caption {
  text-align: center;
}

#form {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}

#email {
  width: auto;
  position: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#submit {
  border-color: white;
  background-color: white;
  font-size: 24px;
  border: none;
}

#submit:hover {
  background-color: #4CAF50;
  color: white;
  border-color: black;
  border-size: 3px;
}

#header-img {
  max-width: 15rem;
  height: 15rem;
  border-radius: 5%;
  position: center;
  border-color: white;
  border-width: 3px;
  border-style: solid;
}



#header-img:hover {
    border-color: black;
}

#grid {
    width: 100%;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    padding-bottom: 2rem;
}

ul{
  list-style-type: none;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}